# Python cache files:
__pycache__
.pytest_cache/
.vscode
.py[oc]
poetry.lock
scratchpad.py

# general data caches:
cache

# spyder project:
.spyproject

# TensorFlow log-files:
events.out.tfevents.*

# MATLAB:
*.asv

# graphical artifacts:
*.png
*.avi
*.mp4

# visual studio:
.vs
.suo

# .env files
.env

# Tox directories
.tox

# Coverage
.coverage

# Sphinx docs
docs/build

# data
data/

# dist
dist/
